header nav ul li, header #searchForm input, #heroeDetails .detailsContainer .heroeDescription p, .pagination p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#heroeDetails .detailsContainer .detailsButtons button, #errorContainer button, .pagination .paginationBar button, .pagination .paginationBar ul .paginationBtn, main #heroesContainer #heroesUl li h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

#heroeDetails .heroeDetails h3, #heroeDetails .detailsContainer .heroeDescription h4, #errorContainer h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

#heroeDetails .detailsContainer .detailsButtons button, #errorContainer button, .pagination .paginationBar button, .pagination .paginationBar ul .paginationBtn {
  outline: none;
  border: none;
  background-color: #ec1d24;
  padding: 0.5rem 1rem;
  color: #f5f4f4;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 2px 2px 2px 0px #222831;
          box-shadow: 2px 2px 2px 0px #222831;
}

#heroeDetails .detailsContainer .detailsButtons button:hover, #errorContainer button:hover, .pagination .paginationBar button:hover, .pagination .paginationBar ul .paginationBtn:hover {
  background-color: #960d11;
}

main #heroesContainer #heroesUl li {
  width: 80%;
  margin: 1.3rem auto;
  cursor: pointer;
  background-color: #ec1d24;
  -webkit-box-shadow: 0px 0px 5px 0px #222831;
          box-shadow: 0px 0px 5px 0px #222831;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main #heroesContainer #heroesUl li:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #222831;
          box-shadow: 0px 0px 10px 0px #222831;
  background-color: #960d11;
}

main #heroesContainer #heroesUl li:hover img {
  -webkit-filter: none;
          filter: none;
}

main #heroesContainer #heroesUl li img {
  width: 100%;
  height: 85%;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

main #heroesContainer #heroesUl li h5 {
  text-align: center;
  margin-top: 0.5rem;
  color: #f5f4f4;
  font-size: 1rem;
}

@media (min-width: 850px) {
  main #heroesContainer #heroesUl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #heroesContainer #heroesUl li {
    width: 15%;
    margin: 1.3rem;
    min-height: 225px;
    min-width: 225px;
  }
}

header {
  background-color: #222831;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3%;
}

@media (min-width: 1150px) {
  header nav {
    padding: 0 8%;
  }
}

header nav a {
  height: 52px;
  cursor: pointer;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1150px) {
  header nav ul {
    width: 25%;
  }
}

header nav ul li {
  color: #f5f4f4;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-bottom: 2px solid #222831;
}

header nav ul li:hover {
  border-bottom: 2px solid #ec1d24;
}

header #searchForm {
  text-align: center;
  padding: 1.7rem;
}

header #searchForm input {
  height: 35px;
  width: 70%;
  border: none;
  padding: 0.5rem 2.5rem;
  outline: none;
  font-size: 1rem;
}

@media (min-width: 850px) {
  header #searchForm input {
    width: 50%;
  }
}

header #searchForm button {
  height: 35px;
  padding: 0.5rem 2.5rem;
  outline: none;
  border: none;
  vertical-align: top;
  margin-left: -5px;
  background-color: #ec1d24;
  color: #f5f4f4;
  font-size: 1rem;
}

#heroeDetails .heroeDetails h3 {
  margin: 1.7rem 0;
  color: #222831;
  font-size: 2.5rem;
  text-align: center;
}

#heroeDetails .detailsContainer {
  margin: 1.7rem 0;
}

#heroeDetails .detailsContainer img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

#heroeDetails .detailsContainer .heroeDescription p {
  color: #222831;
  padding: 2.5rem;
  font-size: 1.3rem;
}

#heroeDetails .detailsContainer .heroeDescription h4 {
  margin: 1.7rem 0;
  font-size: 1.7rem;
  text-align: center;
}

#heroeDetails .detailsContainer .heroeDescription .comicsContainer {
  padding-bottom: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#heroeDetails .detailsContainer .heroeDescription .comicsContainer img {
  width: 20%;
  height: 50%;
  margin-bottom: 1.3rem;
}

#heroeDetails .detailsContainer .detailsButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

@media (min-width: 850px) {
  #heroeDetails .heroeDetails .detailsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 2.5rem;
  }
  #heroeDetails .heroeDetails .detailsContainer img {
    width: 40%;
    height: 40%;
    margin: 0;
  }
  #heroeDetails .heroeDetails .detailsContainer .heroeDescription {
    width: 50%;
  }
  #heroeDetails .heroeDetails .detailsContainer .heroeDescription p {
    padding: 0;
    margin-bottom: 1.3rem;
  }
  #heroeDetails .heroeDetails .detailsContainer .heroeDescription h4 {
    margin-top: 0;
  }
}

#errorContainer {
  text-align: center;
  padding: 2.5rem;
}

#errorContainer h2 {
  margin: 1.7rem;
}

.pagination {
  padding: 1.3rem 5%;
}

.pagination p {
  font-size: 1.3rem;
  text-align: center;
  margin: 1.3rem;
}

.pagination .paginationBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination .paginationBar button {
  -webkit-box-shadow: 2px 2px 0px 0px #222831;
          box-shadow: 2px 2px 0px 0px #222831;
}

.pagination .paginationBar button.disabled {
  background-color: #960d11;
}

.pagination .paginationBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination .paginationBar ul .paginationBtn {
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 0px 0px #222831;
          box-shadow: 2px 2px 0px 0px #222831;
}

.pagination .paginationBar ul .selected {
  background-color: #960d11;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f4f4;
  font-size: 14px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */