header nav ul li, #heroeDetails .detailsContainer .heroeDescription p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

main #heroesContainer li h5, #heroeDetails .detailsContainer .detailsButtons button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

#heroeDetails .heroeDetails h3, #heroeDetails .detailsContainer .heroeDescription h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

main #heroesContainer li {
  width: 50%;
  margin: 1.3rem auto;
  cursor: pointer;
  background-color: #ec1d24;
  -webkit-box-shadow: 5px 5px 10px 0px #222831;
          box-shadow: 5px 5px 10px 0px #222831;
}

main #heroesContainer li:hover {
  -webkit-box-shadow: 5px 5px 15px 0px #222831;
          box-shadow: 5px 5px 15px 0px #222831;
}

main #heroesContainer li:hover img {
  -webkit-filter: none;
          filter: none;
}

main #heroesContainer li img {
  width: 100%;
  height: 85%;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

main #heroesContainer li h5 {
  text-align: center;
  margin-top: 0.5rem;
  color: #f5f4f4;
  font-size: 1rem;
}

@media (min-width: 850px) {
  main #heroesContainer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #heroesContainer ul li {
    width: 20%;
    margin: 1.3rem;
  }
}

header {
  background-color: #222831;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8%;
}

header nav a {
  height: 52px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  color: #f5f4f4;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-bottom: 2px solid #222831;
}

header nav ul li:hover {
  border-bottom: 2px solid #ec1d24;
}

#heroeDetails .heroeDetails h3 {
  margin: 1.7rem 0;
  color: #222831;
  font-size: 2.5rem;
  text-align: center;
}

#heroeDetails .detailsContainer {
  margin: 1.7rem 0;
}

#heroeDetails .detailsContainer img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

#heroeDetails .detailsContainer .heroeDescription p {
  color: #222831;
  padding: 2.5rem;
  font-size: 1.3rem;
}

#heroeDetails .detailsContainer .heroeDescription h4 {
  margin: 1.7rem 0;
  font-size: 1.7rem;
  text-align: center;
}

#heroeDetails .detailsContainer .heroeDescription .comicsContainer {
  padding-bottom: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#heroeDetails .detailsContainer .heroeDescription .comicsContainer img {
  width: 20%;
  height: 50%;
  margin-bottom: 1.3rem;
}

#heroeDetails .detailsContainer .detailsButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

#heroeDetails .detailsContainer .detailsButtons button {
  outline: none;
  border: none;
  background-color: #ec1d24;
  padding: 0.5rem 1rem;
  color: #f5f4f4;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 5px 0px #222831;
          box-shadow: 1px 1px 5px 0px #222831;
}

#heroeDetails .detailsContainer .detailsButtons button:hover {
  -webkit-box-shadow: 2px 2px 10px 0px #222831;
          box-shadow: 2px 2px 10px 0px #222831;
}

@media (min-width: 850px) {
  #heroeDetails .heroeDetails .detailsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 2.5rem;
  }
  #heroeDetails .heroeDetails .detailsContainer img {
    width: 40%;
    height: 40%;
    margin: 0;
  }
  #heroeDetails .heroeDetails .detailsContainer .heroeDescription {
    width: 50%;
  }
  #heroeDetails .heroeDetails .detailsContainer .heroeDescription p {
    padding: 0;
    margin-bottom: 1.3rem;
  }
  #heroeDetails .heroeDetails .detailsContainer .heroeDescription h4 {
    margin-top: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f4f4;
  font-size: 14px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */