@import "partials/variables";
@import "partials/main";
@import "partials/header";
@import "partials/heroDetail";
@import "partials/error";
@import "partials/pagination";
@import "partials/loader";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $light;
    font-size: 14px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}
