#heroeDetails {
    .heroeDetails {
        h3 {
            margin: $l auto;
            width: 40%;
            padding-bottom: $m;
            color: $dark;
            font-size: $xl;
            @extend %boldFont;
            text-align: center;
            border-bottom: 4px solid $primary;
        }
    }

    .detailsContainer {
        margin: $l 0;
        img {
            display: block;
            width: 80%;
            margin: 0 auto;
        }

        .heroeDescription {
            p {
                color: $dark;
                @extend %regularFont;
                padding: $xl;
                font-size: $m;
            }
            h4 {
                width: 35%;
                margin: $l auto;
                padding-bottom: $s;
                @extend %boldFont;
                font-size: $l;
                text-align: center;
            }

            .comicsContainer {
                padding-bottom: $l;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                img {
                    width: 20%;
                    height: 50%;
                    margin-bottom: $m;
                }
            }
        }

        .detailsButtons {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: $xl;
            button {
                @extend %btn;
            }
        }
    }
}

@media (min-width: 850px) {
    #heroeDetails {
        .heroeDetails {
            .detailsContainer {
                display: flex;
                justify-content: space-evenly;
                padding: $xl;
                img {
                    width: 40%;
                    height: 40%;
                    margin: 0;
                }
                .heroeDescription {
                    width: 50%;
                    p {
                        padding: 0;
                        margin-bottom: $m;
                    }
                    h4 {
                        margin: 0 auto;
                        margin-bottom: $m;
                    }
                }
            }
        }
    }
}
